# Ignorar el entorno virtual
.venv/
venv/

# Ignorar archivos de datos (si no deseas subirlos)
#data/

# Archivos temporales de Jupyter
.ipynb_checkpoints/

# Archivos Python compilados
__pycache__/
*.pyc

# Archivos de sistema
.DS_Store

# Entorno de Windows
Thumbs.db
